* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    overflow-x: hidden;
    font-family: 'Gilroy';
}

body,
html {
    width: 100%;
}

nav {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    font-size: 2vw;
}

nav a {
    color: #322E56;
    text-decoration: none;
    transition: all ease 0.5s;
}

nav a:hover {
    color: #d33e08;
}

.page {
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

#page-1 {
    background-color: #FDDB9F;
}

#text-page-1 {
    position: absolute;
    left: 5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 200;
}

#text-page-1>h2:nth-child(1) {
    font-size: 2.9vw;
    color: #322E56;
    margin-bottom: 1.2rem;
}

#text-page-1>h2:nth-child(2),
#text-page-1>h2:nth-child(3) {
    font-size: 5vw;
    background-color: #EA5E26;
    color: white;
    padding: 0.5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin: 0.5rem;
    margin-left: 0;
}

#circle_top {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    z-index: 100;
}

#sun {
    position: absolute;
    top: 20%;
    right: 7%;
    width: 280px;
    z-index: 200;
}

#mail {
    position: absolute;
    right: 25%;
    top: 40%;
    z-index: 200;
    width: 120px;
}

#video {
    position: absolute;
    right: 15%;
    top: 55%;
    z-index: 200;
    width: 120px;
}

#right-texture {
    position: absolute;
    right: 0%;
    bottom: 1%;
    z-index: 200;
    width: 150px;
}

#heart {
    position: absolute;
    right: 40%;
    bottom: 40%;
    z-index: 200;
    width: 100px;
    transition: all ease 0.2s;
}

#like {
    position: absolute;
    right: 35%;
    bottom: 10%;
    z-index: 200;
    width: 90px;
    transition: all ease 0.2s;
}

#heart:hover,
#like:hover {
    scale: 1.2;
}

#arrow-bottom {
    position: absolute;
    bottom: -20%;
    right: 20%;
    z-index: 200;
    width: 60px;
}

#gift {
    position: absolute;
    bottom: -5%;
    right: 40%;
    z-index: 200;
    width: 190px;
}

#circle {
    position: absolute;
    bottom: -10%;
    left: 10%;
    z-index: 200;
    width: 450px;
}

#page-2 {
    background-color: #F8F2EE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#page-2 img {
    margin: 1rem;
    width: 40%
}

#text-page-2 {
    width: 49%;
}

#text-page-2 h5 {
    font-size: 5.5vw;
}

#text-page-2 span {
    color: #ff6a2f;
}

#text-page-2>p {
    font-size: large;
    margin: 0.5rem;
    font-weight: 500;
    margin-left: 0;
}

#blocks-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.block {
    width: 48%;
    padding: 1rem;
    padding-left: 0;
    margin: 0.5rem;
    margin-left: 0;
}

.block h3 {
    font-size: 2.5vw;
}

#page-3 {
    background-color: #322E56;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 130vh;
}

#left-page-3 {
    margin-top: 4vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#left-page-3 h3 {
    font-size: 3.5vw;
    font-weight: 600;
    margin: 2rem;
}

#left-page-3 ul li {
    font-size: 2.6vw;
    font-weight: 600;
    margin: 1rem;
    margin-left: 0;
    padding: 1rem 3rem;
    list-style: none;
    background-color: white;
    color: #322E56;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

#right-page-3 {
    margin-top: 6rem;
    margin-left: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
}

#right-page-3 p {
    font-size: large;
    font-weight: 500;
    margin: 1rem;
}

#right-page-3 a {
    color: #FF7200;
}

#page-4 {
    color: white;
    background-color: #4E459F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-4 h3 {
    font-size: 4vw;
    margin-bottom: 5vh;
}

#services-container {
    width: 100%;
    color: #FFC103;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
}

.service-item {
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-item:hover img {
    scale: 1.4;
}

.service-item h4 {
    text-align: center;
    font-size: 2vw;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: all ease 0.2s;
}

.service-item h4:hover {
    color: #e2a90a;
}

.service-item img {
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: all ease 0.5s;
}

#service-2,
#service-3,
#service-4 {
    border-left: 1px solid white;
}