* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    overflow-x: hidden;
    font-family: 'Gilroy';
}

body,
html {
    width: 100%;
}

nav {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    font-size: 2vw;
}

nav a {
    color: #322E56;
    text-decoration: none;
    transition: all ease 0.5s;
}

nav a:hover {
    color: rgb(211, 62, 8);
}

.page {
    width: 100%;
    height: 110vh;
    overflow-x: hidden;
}

#page-1 {
    background-color: #FDDB9F;
}

#text-page-1 {
    position: absolute;
    left: 5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 200;
}

#text-page-1>h2:nth-child(1) {
    font-size: 2.9vw;
    color: #322E56;
    margin-bottom: 1.2rem;
}

#text-page-1>h2:nth-child(2),
#text-page-1>h2:nth-child(3) {
    font-size: 5vw;
    background-color: #EA5E26;
    color: white;
    padding: 0.5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin: 0.5rem;
    margin-left: 0;
}

#circle_top {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    z-index: 100;
}

#sun {
    position: absolute;
    top: 20%;
    right: 7%;
    width: 280px;
    z-index: 200;
}

#mail {
    position: absolute;
    right: 25%;
    top: 40%;
    z-index: 200;
    width: 120px;
}

#video {
    position: absolute;
    right: 15%;
    top: 55%;
    z-index: 200;
    width: 120px;
}

#right-texture {
    position: absolute;
    right: 0%;
    bottom: 1%;
    z-index: 200;
    width: 150px;
}

#heart {
    position: absolute;
    right: 40%;
    bottom: 40%;
    z-index: 200;
    width: 100px;
    transition: all ease 0.2s;
}

#like {
    position: absolute;
    right: 35%;
    bottom: 10%;
    z-index: 200;
    width: 90px;
    transition: all ease 0.2s;
}

#heart:hover,
#like:hover {
    scale: 1.2;
}

#arrow-bottom {
    position: absolute;
    bottom: -20%;
    right: 20%;
    z-index: 200;
    width: 60px;
}

#gift {
    position: absolute;
    bottom: -5%;
    right: 40%;
    z-index: 200;
    width: 190px;
}

#circle {
    position: absolute;
    bottom: -10%;
    left: 10%;
    z-index: 200;
    width: 450px;
}